{% load static %}

{% for x in animalcat %}
  <div class="navbar" style="background-image: url({% if x.photo %} '/media/{{x.photo}}'
        {% elif x.category.back_photo %}

 '/media/{{x.category.back_photo}}'  {% endif %} )">

<div class="outtablet">

    <h3 >{{ x.name }}</h3>
    <h4 >{{ x.age }} years  <br>{{ x.gender }}</h4>
    <p class="curator">Curator: {{ x.curator }}</p>
</div>
<div class="tablet">
    <p class="appearence"><strong><i>Appearence:</i></strong>  {{ x.appearence }}<br><br></p>
    <p class="description"><strong><i>Decsription:</i></strong>{{ x.description }}</p>
    </div>
      <div class="ava">
   {% if x.available  %}
          <p>In home searching...</p>
          {% else %}
               <p>Already found home!</p>
          {%endif  %}
      </div>

       </div>
</div>
{% endfor %}




