<div class="navbar">
    <img src={% block blim %}""{% endblock %}  class="blim" >
    <h3 class="title">{% block title %}TITLE{% endblock %}</h3>
    <h4 class="infm">{% block inf %}AGE,GENDER{% endblock %}</h4>
    <p class="appearence">{% block appearence %}APPEARENCE{% endblock %}</p>
    <p class="description">{% block decsription %}DESCRIPTION{% endblock %}</p>
    <p class="available">{% block available %}AVAILABLE{% endblock %}</p>
    <p class="curator">{% block cuator %}CURATOR{% endblock %}</p>
</div>