{% load static %}
<!doctype html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link href="{% static 'css/style.css'%}" rel="stylesheet" >

    <title>Animal shelter</title>
  </head>
  <body>
<div class="row">


              <div class="card mb-3">
              <div class="card-header">
               Curator:
              </div>

              <div class="card-body">

                <h5 class="card-title">{{ anim.name }}</h5>
                <p class="card-text"> {{ anim.curator }}</p>
                <a href="/" class="btn btn-primary">Read more...</a>
              </div>
              <div class="card-footer text-muted">
                  {{ anim.category}}
              </div>
            </div>

      </div>
  </body>
</html>